.tokenOrderbooks {
    display: none;
    border-top: 2px solid var(--primary);
}

.tokenOrderTitle {
    margin: auto;
    width: max-content;
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--primary);
}

.cardImg {
    width: 200px;
    height: 200px;
    padding: 30px;
}

.mainBox {
    max-width: 800px;
    margin: auto;
}

.toggleIcon {
    font-size: 56px !important;
    margin: auto;
    margin-top: 160px;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: 0.3s all linear;
}

.forMaxWidth {
    max-width: 400px;
    margin: auto;
}

.expectedRate {
    color: white;
    margin-top: 20px;
    text-align: center;
    border: 1px solid var(--info);
    border-radius: 10px;
    padding: 8px;
}

.swapBut {
    margin: auto;
    margin-top: 20px;
}

.ETHBalance,
.DAIBalance,
.ETHLiquidity,
.DAILiquidity {
    margin-top: 20px;
    border: 1px solid var(--info);
    border-radius: 10px;
    padding: 8px;
}